{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Créer un nouvel article</h1>

    {{ include('article/_form.html.twig') }}
    <br>
    <a href="{{ path('article_index') }}">Retour à la liste d'articles</a>
{% endblock %}
